/* Responsive container of the svg element */
.responsive-svg-container {
	width: 100%;
	max-width: 1000px;
}

@media screen and (max-width: 596px) {
	.responsive-svg-container {
		margin-bottom: 20px;
	}
}



